<section id="calculator" class="calculator">
    <div class="container">
        <div class="section-title">
            <h2>Calculadora de Sanciones e Infracciones</h2>
            <p>Resumen de que es la calculadora Ejemplo: Art 1°.- El presente reglamento tiene po objeto reglamentar el
                regimen de infracciones administrativas y a determinacion y la aplicacion de sanciones, A cargo de COVAN
            </p>
            <p>
                <button (click)="downloadFile()" type="button" class="btn btn-light"><i class="icofont-download"></i>Reglamento</button>
            </p>
        </div>
    </div>
</section>

